<p>Vous avez fait une demande de réinitialisation de mot de passe</p>
<p>Pour modifier votre mot de passe, veuillez cliquer sur le lien ci-dessous</p>
<p><a href="{{ url }}">Modifier le mot de passe</a></p>